.alert-card {
    position: relative;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px 18px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.alert-card-title {
    font-size: 22px;
    font-weight: 600;
    color: #111;
    text-align: center;
    margin-top: 10px;
}

.alert-edit-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease;
}

.alert-check-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease;
}

.alert-cancel-icon {
    position: absolute;
    top: 12px;
    right: 40px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease;
}

.alert-edit-icon:hover,
.check-icon:hover,
.cancel-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

.alert-edit-icon,
.alert-cancel-icon,
.alert-cancel-icon {
    object-fit: contain;
}

.alert-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 14px;
    flex: 1;
    align-content: center;
}

.alert-item {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.alert-item input[type="checkbox"] {
    cursor: pointer;
}

.tag-sma {
    border-color: #3b82f6;
    color: #3b82f6;
}


.tag-bollinger {
    border-color: #a855f7;
    color: #a855f7;
}


.tag-stochastic {
    border-color: #ef4444;
    color: #ef4444;
}


.tag-rsi {
    border-color: #22c55e;
    color: #22c55e;
}

.alert-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}