.drawer {
    position: absolute;
    top: 150px;
    left: 12px;
    width: 300px;
    max-height: 70%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    border: 1px solid #e0e0e0;
    transform: translateX(-110%);
    transition: transform 0.25s ease, opacity 0.25s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.drawer.open {
    transform: translateX(0);
    opacity: 1;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 0.85rem;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}


.info-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    opacity: 0.7;
}

.info-btn:hover .info-icon {
    opacity: 1;
}

.drawer-content {
    padding: 8px 10px;
    overflow-y: auto;
    font-size: 0.85rem;
}

.drawer-content h4 {
    margin: 0 0 6px 0;
    font-size: 0.9rem;
}

.drawer-content ul {
    padding-left: 16px;
    margin: 0;
}

.drawer-content li {
    margin-bottom: 4px;
}

.drawer-close {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-close:hover {
  color: #000;
}

.drawer-close:focus {
  outline: none;
}

